
.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}


body {
  margin: 0;
  background-color: #f4b62a; 
}



.imagen {
  width: 100%;              
  border: 4px solid white; 
  display: block;
  margin: 20px auto;      
}
@font-face {
  font-family: 'Fredoka';
  src: url('../fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

header h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 48px;
}

.banda {
  width: 100%;          
  height: 90px;        
  background-color: #f04c7a;  
  margin: 0px auto;   
  border-radius: 10px;  

  display: flex;             
  justify-content: center;   
  align-items: center;       

  color: white;
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer; 
}

nav ul{ list-style-type: none;}
 a { text-decoration: none; }

 nav ul {
  padding: 0;
  margin: 30px auto 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  color: white;
}

nav a {
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f04c7a; 
}

.contenedor {
  max-width: 70%;        
  margin: 0 auto;          
  padding: 0 20px;         
}
main {
  margin-top: 10px;
  font-family: 'Fredoka', sans-serif;
}

section {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  /*margin-top: 10px; */
}

main h2 {
  color:  #f04c7a;
  font-size: 70px;          
  text-align: center;
  margin-bottom: 35px;
}


article {
  margin-bottom: 40px;
}

article h3 {
  color: #f04c7a;
  font-size: 40px;          
  margin-bottom: 15px;
}

article p {
  color: #333;
  font-size: 18px;          
  line-height: 1.8;
}


aside {
  margin-top: 50px;
  background-color: #f04c7a;
  color: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;     
  font-family: 'Fredoka', sans-serif;
}

aside h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  font-size: 18px;
  margin-bottom: 12px;
}


footer {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  background-color: #222;
  color: white;
  font-family: 'Fredoka', sans-serif;
  border-radius: 10px;
  font-size: 14px;
}

article a {
  color: white;
  background-color:  #f6b93b;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
}

article a:hover {
  color: #f04c7a;
}

.flecha {
  max-width: 70%;        
  margin: 0 auto;          
  padding: 0 20px;         
}

nav a {
  color: white;
  transition: color 0.3s ease;
}
article a {
  color: white;
  background-color:#245a9a;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: inline-block;
}

article a:hover {
  color: #f04c7a;
}